p {
  margin-bottom: 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}

.site-bg {
  background: url("./images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form {
  margin: 100px 0;
  padding: 30px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border: 5px solid #f6cd60;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}

.note {
  margin: 0 -15px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: #a2293e;
  border-color: #a2293e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7a1928;
  border-color: #7a1928;
}
